<launch>
  <arg name="morai_ip" default="127.0.0.1"/>
  <arg name="morai_port" default="9093"/>
  <arg name="status_port" default="9092"/>
  <arg name="mode_source" default="service"/>
  <arg name="max_steering_deg" default="36.25"/>
  <arg name="waypoint_file" default="$(find unita_waypoint)/config/waypoints.csv"/>
  <arg name="waypoint_format" default="local_xy"/>
  <arg name="loop_path" default="true"/>
  <arg name="start_localization" default="true"/>
  <arg name="start_rviz" default="true"/>
  <arg name="localization_config" default="$(find localization)/config/gps_imu.yaml"/>
  <include file="$(find unita_launch)/launch/waypoint_tracking.launch">
    <arg name="waypoint_file" value="$(arg waypoint_file)"/>
    <arg name="waypoint_format" value="$(arg waypoint_format)"/>
    <arg name="loop_path" value="$(arg loop_path)"/>
    <arg name="start_localization" value="$(arg start_localization)"/>
    <arg name="start_rviz" value="$(arg start_rviz)"/>
    <arg name="localization_config" value="$(arg localization_config)"/>
  </include>
  <include file="$(find control)/launch/morai_udp_control.launch">
    <arg name="morai_ip" value="$(arg morai_ip)"/>
    <arg name="morai_port" value="$(arg morai_port)"/>
    <arg name="status_port" value="$(arg status_port)"/>
    <arg name="mode_source" value="$(arg mode_source)"/>
    <arg name="max_steering_deg" value="$(arg max_steering_deg)"/>
  </include>
</launch>
